div{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 10px;
}

/* #static #middle{
    position: static;
    top: 200px;
    left: 300px;
}

#relative #middle{
position: realtive;
top: 200px;
left: 300px;
}

#absolute{
    position: relative;
}

#absolute #middle{
    position: absolute;
    top: 200px;
    left: 300px;
} */

/* #fixed #middle{
    position: fixed;
    top: 0px;
} */

/* #sticky{
height: 700px
border 2px solid black;
}

#sticky #middle{
    position: sticky;
    top: 100px;
} */