p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 5px;
}

ul{
    font-size: 20px;
}

li:first-child{
    list-style: square;
    /* list-style-image: url(https://images.unsplash.com/photo-1717023048599-ab3745aac90c?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    /* list-style-position: inside; */
}