#prakhar{
    border: 1px solid red;
    text-align: center;
}

#special{
    /* border: 1px solid black; */
    color: red;
}

.para{
    color: cornflowerblue;
}
/* 
p{
    border: 1px solid black;
    color: black;
} */

/* *{
    border: 1px solid aqua;
} */

a[href="http://facebook.com"]{
    color: greenyellow;
}